# This is Git's per-user configuration file.
[user]
	name = NOLD Tecnologia
	email = primo@nold.com.br
[core]
	editor = code --wait
[alias]
	c = !git add --all && git commit -m
	s = !git status -s
	l = !git log --pretty=format:'%C(blue)%h %C(green)%cr %C(cyan)%cn%C(red)%d %C(white)%s '
	t = !sh -c 'git tag -a $1 -m $1' -
	amend = !git add --all && git commit --amend --no-edit
	count = !git shortlog -s --grep
[push]
	followTags = true
[credential "helperselector"]
	selected = <no helper>
